{% extends "base.html" %}

{% block title %}Room {{ room.public_code }}{% endblock %}

{% block content %}
<div class="card">
    <h1>Room {{ room.public_code }}</h1>
    <p>Statut : {{ room.status }}</p>
    {% if participant %}
    <p>Vous êtes dans la room.</p>
    {% else %}
    <p>Vous n'êtes pas participant de cette room.</p>
    {% endif %}
</div>

<div class="card">
    <h2>Participants</h2>
    <ul>
        {% for p in participants %}
        <li>
            {{ p.identity.display_name }}
            {% if p.is_host %}<strong>(host)</strong>{% endif %}
            {% if participant and participant.participant_id == p.participant_id %}
            <strong>(vous)</strong>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

<<div class="card">
    <h2>Démarrer une partie</h2>

    {% if participant and participant.is_host %}
    <form method="post" action="{% url 'rooms:start_game' room.public_code %}">
        {% csrf_token %}

        <div>
            <label for="game_id">Choisir un jeu</label><br>
            <select id="game_id" name="game_id" required>
                {% for game in games %}
                <option value="{{ game.game_id }}">{{ game.display_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div style="margin-top: 1rem;">
            <p><strong>Sélectionner les joueurs</strong></p>

            {% for p in participants %}
            <label style="display:block; margin-bottom: 0.4rem;">
                <input type="checkbox" name="players_ids" value="{{ p.participant_id }}" checked>
                {{ p.identity.display_name }}
                {% if p.is_host %}<strong>(host)</strong>{% endif %}
                {% if participant and participant.participant_id == p.participant_id %}
                <strong>(vous)</strong>
                {% endif %}
            </label>
            {% endfor %}
        </div>

        <div style="margin-top: 1rem;">
            <button type="submit" class="btn">Créer et démarrer</button>
        </div>
    </form>
    {% else %}
    <p>Seul l'hôte peut démarrer une partie.</p>
    {% endif %}
    </div>

    {% if active_match %}
    <div class="card">
        <h2>Match en cours</h2>
        <p>Jeu : {{ active_match.game.display_name }}</p>
        <p>État : {{ active_match.state }}</p>
        <a class="btn" href="{% url 'matches:detail' active_match.game_match_id %}">Ouvrir le match</a>
    </div>
    {% endif %}
    {% endblock %}
